<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Sending RUN_COMMAND to Termux requires this permission plus
         `allow-external-apps=true` in Termux's ~/.termux/termux.properties. -->
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />

    <!-- Needed on Android 11+ to query whether Termux is installed. -->
    <queries>
        <package android:name="com.termux" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Material3.DayNight">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
